
* {
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-family: sans-serif;
}

p {
    margin: 0.2em 0;
}

p.small {
    font-size: 0.8em;
}
@font-face {
    font-family:"space invaders Regular";
    src:url("/font/space_invaders.eot?") format("eot"), url("/font/space_invaders.woff") format("woff"), url("/font/space_invaders.ttf") format("truetype"), url("/font/space_invaders.svg#Space-Invaders") format("svg");
    font-weight:normal;font-style:normal;
}

#bpm-container {
    height: 40px;
    width: 800px;
    position: absolute;
    top: 100px;
    left: 20px;
}
.bpm-value {
    float: left;
    display: inline;
    margin-right: 50px;
    font-family: "space invaders Regular";
    font-size: 48px;
}

#bpm0 {
    color: red;
}
#bpm1 {
    color: green;
}
#bpm2 {
    color: blue;
}
#bpm3 {
    color: yellow;
}
